<section id="create-page">
  <div class="createSection">
    <div class="info">
      <h2>"Today, I consider myself the luckiest man on the face of the earth."
        -The Pride of the Yankees, 1942
      </h2>
    </div>

    <form method="POST" class="createForm">
      <h2>Add Mobiles</h2>
      <ul class="noBullet">
        <label for="category">Category:</label>
        <li>
          <select id="category" class="inputFields" name="country">
            <option value="">Select Category</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Macedonia">Macedonia</option>
            <option value="Serbia">Serbia</option>
            <option value="Romania">Romania</option>
            <option value="Greece">Greece</option>
          </select>
        </li>
        <li>
          <label for="partNo">Part Number:</label>
          <input type="text" class="inputFields" id="partNo" name="partNo" />
        </li>
        <li>
           <label for="quantity">Quantity:</label>
           <input type="text" class="inputFields" id="quantity" name="quantity" />
        </li>
      </ul>
    </form>

  </div>
</section>